<%- include('./partials/head') %>

<%- include('./partials/Header') %>
<main>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			</h2>
			<form action="profile.ejs" method="get">
				<input type="email" name="usuario" placeholder="usuario">
				<input type="password" name="password" placeholder="contraseña">
				<input type="checkbox" name="recordarme" placeholder="recordarme">
				
			</form>

</main>
<% - include('./partials/footer') %>
