<%- include('./partials/head') %>

<%- include('./partials/Header') %>
<main>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			</h2>
			<form action="/users/profile" method="POST">
				<input type="email" name="email" placeholder="email">
				<input type="password" name="password" placeholder="contraseña">
				<div class="enviar">
					<button type="submit">Ingresar</button>
					<div class="recordar">
						<span>Recordarme</span>
						<input type="checkbox" name="recordarme" label="recordarme">	
					</div>
				</div>		
			</form>

</main>
<% - include('./partials/footer') %>
