<% - include('./partials/head') %>
<body>
	<!-- Header -->
	<% - include('./partials/headerLogueado')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			</h2>
			<form action="">
				<input type="file" name="imagen" id="">
				<input type="text" name="product" value="" id="">
				<input type="text" name="descripcion">
				<input type="date" name="fechaCarga" id="">
			</form>
			
<% - include('./partials/footer') %>
</body>

</html>