<%- include('./partials/head') %>
<%- include('./partials/header')%>
<main>
	<!-- Header -->
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="register-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			</h2>
			<form action="/remeras/load" method="post">
				<input type="text" name="img_url" id="">
				<input type="text" name="nombre_producto" value="" id="" placeholder="Nombre del producto">
				<input type="text" name="descripcion" placeholder="Descripcion del producto">
				<input type="date" name="fechaCarga" id="" placeholder="Año del producto">
				<!-- como hago para que se mande el id del usuario que lo esta ingresando?-->
				<button type="submit">Agregar producto</button>
			</form>
</main>	
<%- include('./partials/footer') %>
