<%- include('./partials/head') %>
<%- include('./partials/header')%>
<main>
	<!-- Header -->
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			</h2>
			<form action="/remeras/add" method="get">
				<input type="file" name="imagen" id="">
				<input type="text" name="product" value="" id="" placeholder="Nombre del producto">
				<input type="text" name="descripcion" placeholder="Descripcion del producto">
				<input type="date" name="fechaCarga" id="" placeholder="Año del producto">
				<button type="submit">Enviar</button>
			</form>
</main>	
<% - include('./partials/footer') %>
