<%- include('./partials/head') %>

	<!-- Header -->
<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
    <main>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			</h2>
			<form action="/users/edit" method="get" id="registerForm">
				<input type="text" name="email" placeholder="Email" >
				<input type="text" name="user" placeholder="Nombre de usuario">
				<input type="password" name="password" placeholder="Contraseña" >
				<input type="number" name="DNI" placeholder="DNI">
				<input type="date" name="birthday" placeholder="Fecha de nacimiento" >
				<input type="text" name="profile" placeholder="Foto de perfil">
				<button type="submit" value="Enviar"></button>
			</form>

<!-- "aca tiene que ir la informacion que viene desde el register" -->

    </main>
<%- include('./partials/footer') %>
