<%- include('./partials/head') %>

	<!-- Header -->
<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
    <main>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			</h2>
			<!-- <form action="profile.ejs" method="get">
				<input type="text" value="">
				<input type="text" value="">
				<input type="text" value="">
				<input type="text" value="">
				<input type="text" value="">
				<input type="text" value=""> -->
			<!-- </form> -->
<!-- "aca tiene que ir la informacion que viene desde el register" -->

    </main>
<% - include('./partials/footer') %>
