<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main>
	<!-- Header -->
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="register-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> </h2>
			<form action="/users/register" method="POST" id="registerForm">
				<input name = "email" type="email" placeholder="Email" >
				<input name = "username" type="text" placeholder="Nombre de usuario">
				<input name = "password" type="password"  placeholder="Contraseña" >
				<input name = "DNI" type="number" placeholder="DNI">
				<input name = "cumpleaños" type="date"  placeholder="Fecha de nacimiento" >
				<input name = "foto_perfil" type="text"  placeholder="Foto de perfil">
				<button type="submit">Registrarte</button>
			</form>
			<%if (locals.errors){%>
			<h2><%= errors.message%></h2>
			<% } %>

</main>
<%- include('./partials/footer') %>
