<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main>
	<!-- Header -->
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> </h2>
			<form action="/users/profile" method="get" id="registerForm">
				<input type="text" name="email" placeholder="Email" >
				<input type="text" name="user" placeholder="Nombre de usuario">
				<input type="password" name="password" placeholder="Contraseña" >
				<input type="number" name="DNI" placeholder="DNI">
				<input type="date" name="birthday" placeholder="Fecha de nacimiento" >
				<input type="text" name="profile" placeholder="Foto de perfil">
				<button type="submit">Enviar</button>
			</form>

</main>
<%- include('./partials/footer') %>
