<%- include('./partials/head') %>
<%- include('./partials/header')%>
<main>
	<!-- Header -->
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<section class="container_padre_busqueda">
			<h2 class="col-12">
				Resultados de tu busqueda
			</h2>
				<div class="container_busqueda">
					<% for( let i = 0; i < arrayRemeras.length; i++ ) { %>
						<%if () {
							
						}
					<% } %>
				</div>
			</section>

</main>
<%- include('./partials/footer') %>
