<footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4">
          <article class="footer-data">
            <i class="fas fa-credit-card"></i>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Paga con seguridad y flexibilidad con tu tarjeta de crédito. En MSN Kits, te ofrecemos la posibilidad de pagar tus compras en cuotas sin interés. Además contamos con los más altos estándares de seguridad en tus transacciones, para que puedas comprar con tranquilidad y confianza.</p>
          </article>
        </div>
        <div class="col-12 col-lg-4">
          <article class="footer-data">
            <i class="fas fa-gift"></i>
            <h2>Envío gratis desde $ 1.999</h2>
            <p>Registrarse en MSN Kits tiene beneficios. Podrás disfrutar de envíos gratis en miles de productos gracias a nuestro programa de recompensas. Acumula puntos con tus compras y canjéalos por premios exclusivos. Únete hoy y aprovecha todas las ventajas que tenemos para ofrecerte</p>
          </article>
        </div>
        <div class="col-12 col-lg-4">
          <article class="footer-data">
            <i class="fas fa-user-shield"></i>
            <h2>Seguridad, de principio a fin</h2>
            <p>Compra sin preocupaciones en MSN Kits, porque ofrecemos garantía de satisfacción en todas tus compras. Si no estás satisfecho, ¡devuélvelo! Compra con tranquilidad y disfruta de la mejor experiencia de compra en línea.</p>
          </article>
        </div>
      </div>
  </div>
  </footer>
  <section class="containFooter">
    <div class="imagenFooter"> 
      <img src="/images/Logo MSNkits.jpeg" class="logoFooter" />
    </div>
  <div class="footerNombres">
        <div class="nombres">Simon Diez Peña</div>
        <div class="nombres">Nicolas Shakalis</div>
        <div class="nombres">Mateo Podetti</div>
  </div>
    <p class="footer-derechos">©️ 2023 MSNkits todos los derechos reservados.</p>
  </section>
  
</body>	
</html>